

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    color: white;
    
    
}

h2 {
    font-size: 1rem;
}

p {
    font-weight: bold
}

button {
    background: transparent;
    border: none; 
    cursor: pointer; 
    align-items: center;
    
}

.anuncio {
    display: flex;
    justify-content: center;
    min-height: 1.8rem;
    background-color: rgba(218, 125, 203, 1);
}

.anuncio p {
    margin: 0.5rem;
    color: white;
    display: flex;
    padding-left: 5rem;

    
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(191, 117, 179, 1);
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}

.infoBar1 {
    display: flex; 
    gap: 50px;

}

.infoBar2{
    display: flex; 
    gap: 50px;
    height: 4.3rem;
}

h6 {
    color: black;
}

.pais{
    height: auto;
    display: flex;
    align-items: center;

}

.pais img {
    width: 1.5rem;
    height: 1rem;

}

.lupa {
    display: block;
    width: 25px;
    height: 25px;

}

.logo{
    display: block;
    width: 12rem;
    height: 3rem;
    background-color: transparent;

}

.novid {
    background-color: transparent;
}

.contNovid {
    display: none;
    position: absolute;
   
}

.novid:hover + .contNovid {
    display: block;
}

.adulto {
    background-color: transparent;
}

.contAdulto {
    display: none;
    position: absolute;
    z-index: 10;
}

.adulto:hover + .contAdulto {
    display: block;
}

.infan {
    background-color: transparent;
}

.contInfan {
    display: none;
    position: absolute;
    z-index: 10;
}

.infan:hover + .contInfan {
    display: block;
}

.sale {
    background-color: transparent;
}


.contSale {
    display: none;
    position: absolute;
    z-index: 10;
}
/* hover + serve para pegar o conteudo da proxima div */
.sale:hover + .contSale {
    display: block;
}

.acess {
    background-color: transparent;
}

.contAcess {
    display: none;
    position: absolute;
    z-index: 10;
}

.acess:hover + .contAcess {
    display: block;
}

.gifts {
    background-color: transparent;
}

.contGif {
    display: none; /* fica inv */
    position: absolute;
    z-index: 10;
}

.gifts:hover + .contGif{
    display: block;
}

.itens {
    width: 15px;
}


.contPerson {
    display: none;
    position: absolute;
    z-index: 10;
}

.person:hover + .contPerson {
    display: block;
}

.contPerson {
    display: none;
    position: absolute;
    z-index: 10;
}

.person:hover + .contPerson {
    display: block;
}

.contPerson {
    display: none;
    position: absolute;
    z-index: 10;
}

.person:hover + .contPerson {
    display: block;
}

.containerNav1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.bailarina{
    width: 100%;
}

.icons-container img{
    height: 1.2rem;
    width: 1.2rem;
    
}

.container-pais-lupa{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.container-pagamentos p {
    color: black;
    padding-left: 3.5rem;
    font-size: small;

}

.container-pagamentos {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;    
    padding-right: 5rem;
    height: 9rem;
    align-items: center;

}

.container-pagamentos img{
    width: 3rem;
}

.container-sapatilhas {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.container-sapatilhas p{
    color: black;
    font-weight: 250;
    font-weight: bold
    
}

.container-sapatilhas img{
}

.container-Introsapatilhas h1 {
    color: black;
    font-weight: 450;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.meio {
    background-color: rgba(239, 173, 229, 1);
}

.pe {
    height: 100%;
    width: 100%;
}




